<!DOCTYPE html>
<html lang="{{page.lang}}">
{% assign alternate_pages=site.pages | where:"ref", page.ref | sort: 'lang'%}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>{{ page.title }} - {{ site.title[page.lang] }}</title>
    <meta name="yandex-verification" content="006bfb866d7ee767" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
    <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/favicon.ico' />
</head>

<body>
{% include yandex_metrika.html %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/{{page.lang}}">{{ site.name }}</a>
                
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% assign sorted_pages = site.pages | where:"lang", page.lang | sort:"order" %}
                {% for node in sorted_pages %}{% if node.url != '/feed.xml' %}{% if node.parent != "help" %}
                <li{% if node.url == page.url or page.parent == node.ref %} class="active" {% endif %}><a href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}{% endif %}{% endfor %}
                </ul>
              </div>
        </div>
    </div>
</div>
