<h1>{{ site.t[page.lang].nav }}</h1>
<ul>
{% assign sorted_pages = site.pages | sort:"order" %}
{% for page in sorted_pages %}
{% if page.url != '/feed.xml' %}
  <li><a href="{{page.url}}">{{page.title}}</a></li>
{% endif %}
{% endfor %}
</ul>
