{% include header.html %}
{% assign alternate_pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
<div class="container container-left">
    <div class="row">
        <div class="col-md well">
                <ul class="lang" style="float: right">
                    {% for node in alternate_pages %}{% if page.lang != node.lang %}<li>
                        <a href="{{ node.url }}" class="lang-{{ node.lang }}" title="{{ node.lang }}"><img src="{{ site.baseurl }}/images/{{ node.lang }}.png"></img>{{ site.langs[node.lang] }}</a>
                    </li>{% endif %}{% endfor %}
                </ul>
            {{ content }}
        </div>
    </div>
</div>
{% include footer.html %}
