{% include header.html %}
{% assign alternate_pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
<div class="container container-left">
    <div class="row">
        <div class="col-md well">
            <ul class="lang" style="float: right">
                {% for node in alternate_pages %}{% if page.lang != node.lang %}<li>
                    <a href="{{ node.url }}" class="lang-{{ node.lang }}" title="{{ node.lang }}"><img src="{{ site.baseurl }}/images/{{ node.lang }}.png"></img>{{ site.langs[node.lang] }}</a>
                </li>{% endif %}{% endfor %}
            </ul>
            <h1>{{site.helpTitle[page.lang]}}</h1>
            <div {% if page.ref == 'help' %} class="content" {% else %} class="content content-subpage" {% endif %}>
                <h2>{{site.contents[page.lang]}}</h2>
                <ul>
                {% assign sorted_pages = site.pages | where:"lang", page.lang | where: "parent", "help" | sort:"order" %}
                {% for node in sorted_pages %}
                <li >
                    <a {% if node.url == page.url %} class="active" {% endif %} href="{{node.url}}">{{node.title}}</a>
                    {% assign subrefs = node.subrefs %}
                    <ul>
                    {% for ref in subrefs %}
                    <li><a href="{{node.url}}#{{ref[0]}}">{{ref[1]}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                </ul>
            </div>
            {{ content }}
        </div>
    </div>
</div>
{% include footer.html %}
